<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Sistema de Matrícula</title>

    <link rel="stylesheet" href="/static/style.css">

</head>
<body class="login-body">

<div class="login-container">

    <div class="login-card">
        <h2>Sistema de Matrícula</h2>
        <p class="subtitle">Ingresa tus credenciales</p>

        <form method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Ingresar</button>
        </form>
    </div>

</div>

</body>
</html>